#tb1{
    background-color: aqua;
    padding: 10px 120px 10px 12px;
    border-style: solid;
}

.row{
    border-style: solid;
}

.utr{
    background-color: antiquewhite;
}

body{
    background-color: burlywood;
}